tr,
th,
td {
  padding: 0.25rem 1rem;
  border: 1px solid rgb(190, 190, 190);
  text-align: center;
}

.Type {
  width: 40px;
  height: 40px;
}

.formDiv {
  padding: 21px;
  border-radius: 5px;
  background-color: #f2f2f2;
}

.Row {
  display: table;
  width: 100%;
  /*Optional*/
  table-layout: fixed;
  /*Optional*/
  border-spacing: 10px;
  /*Optional*/
}

